body {
    padding: 0;
    margin: 0;
}
        
div {
    color: #2c3e50;			
}			

#wrapper {
    background-color: whitesmoke;
    height: calc(100vh - 3.25rem);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #2c3e50 !important;
}

#brand-name {
    color: #ecf0f1 !important;
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-left: 20px; 
}

#login {
    color: #2c3e50;
}

#chat {
    display: none;
    height: calc(100vh - 3.25rem)
}

#texte {
    background-color: whitesmoke;
    overflow-y: auto;
    word-wrap: break-word;
    height: calc(100vh - 3.25rem - 36px);
    padding: 5px 20px;
}

#msg {
    width: 100vw;
}

.sys {
    text-align: center;
    color: grey !important;
    font-style: italic;
    margin: 5px 0px;
}

.join-btn {
    width: 100%;
    margin-top: 5px;
}

.msg-bubble {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    animation: forwards 200ms normal msg-bubble-slidein;
}

@keyframes self-msg-bubble-slidein {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes msg-bubble-slidein {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.msg-bubble.perso {
    align-items: flex-start;
    animation: forwards 200ms normal self-msg-bubble-slidein;
}

.msg-header {
    color: grey;
    font-style: italic;
    margin: 10px 0px 0px 0px;
}

.msg-text {
    background-color: #3388CE;
    color: white;
    width: fit-content;
    padding: 5px 15px;
    margin-top: 2px;
    border-radius: 20px 0px 20px 20px;
}

.msg-bubble.perso .msg-text {
    background-color: #00C4A7;
    border-radius: 0px 20px 20px 20px;
}

.hidden {
    display: none;
}